<p>profiles works!</p>
<div class="ui segment">
  <div>Form Content : {{profileForm.value | json}}</div>
  <div>Form Valid : {{profileForm.valid}}</div>
  <div>Form error around name : {{profileForm.controls.full_name_on_card.errors | json}}</div>
  <div>Form error around name : {{profileForm.controls.card_number.errors | json}}</div>
  <div>Form error around name : {{profileForm.controls.expiration.errors | json}}</div>
  <div>Form error around name : {{profileForm.controls.security_code.errors | json}}</div>
</div>
<form class="ui  form error"  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
     <app-input fieldClass="error" type="text" label="Full Name" [control]="profileForm.controls.full_name_on_card"/>
     <app-input fieldClass="error" type="number" label="Card Number" [control]="profileForm.controls.card_number"/>
    <app-input fieldClass="error" type="text" label="Expiration" [control]="profileForm.controls.expiration"/>
    <app-input fieldClass="error" type="text" label="Expiration Date" [control]="profileForm.controls.expirationDate"/>
    <app-input fieldClass="error" type="text" label="Security Code" [control]="profileForm.controls.security_code"/>
  <button class="ui button" type="submit" [disabled]="profileForm.invalid">Submit</button>
</form>

