/* You can add global styles to this file, and also import other style files */
/*@import url('semantic.css'); !* Default for non-supporting browsers *!*/
/*@import url('semantic-my-custom-dark-theme.css') (prefers-color-scheme: dark);*/
/*@import url('semantic-my-custom-light-theme.css') (prefers-color-scheme: light);*/


:root {
  --navbar-height: 60px;
}


html,body{
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 2rem;
}
.footer {
  padding: 1rem 0;
}

/*body {*/
/*  background-color: #1b1c1d; !* Fomantic dark background *!*/
/*  color: #fff;*/
/*}*/
.navbar {
  height: var(--navbar-height);
}

.content {
  margin-top: var(--navbar-height);
  padding: 2rem;
}
