/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* remove default underline */
  position: relative;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;  /* thickness of underline */
  text-underline-offset: 4px;      /* space between text and underline */
}


/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 60px;*/
  height: var(--navbar-height);
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: white;
}


.nav-links .active{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  color: white;
}


.logo img {
  height: 40px;
  width: auto;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
}


/* Hamburger icon */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background: #444;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    transition: right 0.3s ease-in-out;
  }

  /* Show hamburger icon */
  .menu-icon {
    display: block;
  }

  /* Show menu when checked */
  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }
}
