<header class="navbar">
  <div class="logo" >
    <img src="/assets/logo.png" alt="Trust Check Logo" (click)="navigate()"/>
  </div>
  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <nav class="nav-links">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      routerLink="/">Home</a>
    <a
      routerLinkActive="active"
      routerLink="lists">Repository
    </a>
    <a
      routerLinkActive="active"
      routerLink="report-now"
    >
      Report Now
    </a>
    <a routerLinkActive="active"
       routerLink="about-us">
       About Us
    </a>
    <a routerLinkActive="active"
       routerLink="/contact"
    >Contact</a>
  </nav>
</header>
